

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	
}

.btn-block {
    display: inline-block;

}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: none;
    
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
}

.btn-success {
    color: #fff;
    background-color: #28A745;
    border-color: #28A745;
    box-shadow: none;
}

.mar-10 {
	margin : 10px 0px;
}

.img-box {
	border: 1px solid black;
}
/* ******************************************** */

input:not(input[type=submit]) {
	width: 100%;
}

input[type=submit] {
	width: 100px;
}

#goList {
	width: 80px;
}

tr {
	border: 1px solid black;
}

td {
	padding: 10px;
	width: 1000px;
	text-align: center;
	border: 1px solid black;
}

td:nth-of-type(1) {
	width: 250px;
}

td:not([colspan]):first-child {
	background: white;
	color: black;
	font-weight: bold;
}

.licenseList {
	display: flex;
}

:root {
	/* --gap: 20px; */
}

.container-ha {
	max-width: 1200px;
	margin: 50px auto;
}

.container-123 {
	 
            
        flex: 0 0 20%;
   
    line-height: 1.5;
    
}
#right_postion{
	
	flex: 0 0 20%;
}
.container-123 h2{
	margin-bottom: 8px;
}



.box {
	
}

.box-contents {
   
}

/* 사이드바 css */

.secLnb .lnbGroup + .lnbGroup {
    border-top: 1px solid #eeeef0;
}

.secLnb {
    width: 190px;
    background: #fff;
    border: 1px solid #dce1eb;
    box-sizing: border-box;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.secLnb .lnbGroup {
    padding: 15px 20px;
    font-size: 12px;
    letter-spacing: 0px;
    color: #666;
}

.lnbTit {
	font-size : 15px;
	letter-spacing: 0px;
	color: black;
	font-weight: bold;
}

.jh_resume_table {
    width: 100%; /* 표를 부모 요소에 꽉 차도록 설정 */
    border-collapse: collapse; /* 셀 간의 간격을 없애고 경계를 하나로 합칩니다 */
}

.jh_resume_table td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
    white-space: nowrap; /* 텍스트가 길어질 경우 줄 바꿈을 방지하여 가로로 표시되도록 함 */
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트가 숨겨진 경우 말줄임표로 대체 */
}




.mtuHome{
 margin-top: 50px;
 display: flex;
 justify-content: center;
}
.mtuHome .contWrap {
	min-height: auto;
	position: relative;
	margin: 0 39px 39px;
	background: #fff;
	border: 1px solid #dce1eb;
	
	    width: 94%;
    max-width: 1200px;
}


.mtuHome .mtuTab {
	margin: 0;
	box-sizing: border-box;
	
	
}

 .mtuHome .mtuTab .tabs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}

.mtuHome .mtuTab .tabs button.on {
	z-index: 1;
	
	border:  1px solid #e6e6e6;
border-bottom: none;
}

.mtuHome .mtuTab .tabs button {
	width: 25%;
	height: 46px;
	flex-grow: 1;
	border-bottom: 1px solid #000;
	padding: 12px;
}

.mtuHome .mtuTab .tabs button.on {
	background: #fff;
	border-color: #000;
	z-index: 2;
}

.mtuHome .mtuTab .tabs button {
	position: relative;
	float: left;
	width: 236px;
	height: 54px;
	background: #f9fafb;
	box-sizing: border-box;
	border-top: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
}





.mtuHome .mtuTab .tabs button {
	font-weight: 700;
	color: #333;
}

.mtuHome .mtuTab .tabs button {
	display: block;
	
	width: 100%;
	height: 100%;
	font-size: 15px;
	letter-spacing: 0;
	color: #666;
	text-align: center;
	box-sizing: border-box;
}



.mtuHome .ai-recommendations-list ul li {
	border-bottom: 1px solid #e8e8e8;
	display: flex;
	width: 100%;
	padding: 24px;
	box-sizing: border-box;
}

.mtuHome .contWrap .ai-recommendations-list .recruit-content {
	padding-left: 0;
	border-left: 0;
}

.mtuHome .ai-recommendations-list .recruit-content {
	overflow: hidden;
	flex: 1 1 auto;
	padding-left: 24px;
	padding-right: 24px;
	border-left: 1px solid #e8e8e8;
}

.mtuHome .ai-recommendations-list .recruit-apply {
	display: flex;
	align-items: center;
	width: 94px;
	flex: 0 0 auto;
}

.mtuHome .ai-recommendations-list .recruit-content .congratulations-passing {
	display: inline-flex;
	align-items: center;
	border: 1px solid rgba(255, 195, 46, .3);
	font-size: 13px;
	line-height: 20px;
	color: #333;
	margin-bottom: 8px;
	background-color: #fffcf5;
	padding: 3px 8px;
	border-radius: 2px;
}

.mtuHome .ai-recommendations-list .recruit-content .company {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}

}
.mtuHome .tplBtn, .bookmark {
	position: relative;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: normal;
	white-space: nowrap;
}

.mtuHome .bookmark {
	position: relative;
	display: inline-block;
	background-image: url(/img/bookmark-check.svg);
	background-repeat: no-repeat;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	background-position: 0px 0px;
}

.mtuHome .bookmark.On {
	background-image: url(/img/bookmark-check-fill.svg);
}

.mtuHome .ai-recommendations-list .recruit-content .headers {
	display: flex;
	min-width: 0;
	align-items: center;
}

.mtuHome .ai-recommendations-list .recruit-content .title {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	font-size: 18px;
	line-height: 26px;
	color: #222;
	font-weight: 700;
}

.mtuHome .ai-recommendations-list .recruit-content .recruitment .item {
	display: flex;
	align-items: center;
	font-size: 13px;
	line-height: 20px;
	color: #6a6a6a;
}

.mtuHome .ai-recommendations-list .recruit-content .recruitment .item:not(:first-child):before
	{
	content: "";
	display: block;
	width: 1px;
	height: 12px;
	margin-left: 8px;
	margin-right: 8px;
	background-color: #e8e8e8;
}

.mtuHome .ai-recommendations-list .recruit-content .job {
	margin-top: 16px;
	font-size: 13px;
	line-height: 20px;
	color: #6a6a6a;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mtuHome .ai-recommendations-list .recruit-content .recruitment {
	display: flex;
	margin-top: 4px;
}

.mtuHome .ai-recommendations-list .recruit-apply .button.homepage {
	background-color: #5288ff;
}

.mtuHome .ai-recommendations-list .recruit-apply button {
	display: block;
	width: 100%;
	height: 32px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
	color: #fff;
	border-radius: 4px;
	background-color: #ff501b;
}

.mtuHome .tplBtnBlue {
	background: #39f;
}

.mtuHome .tplBtn_1 {
	font-weight: bold;
	padding: 7px 10px 7px 10px;
}

.mtuHome .tplBtn_1 span {
	color: #fff;
}

.mtuHome .tplBtn span,.mtuHome .bookmark span {
	position: relative;
	white-space: nowrap;
}

.mtuHome .ai-recommendations-list .recruit-apply .deadline {
	margin-top: 8px;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	color: #6a6a6a;
}
.mtuHome .ai-recommendations-list .recruit-apply .deadline.score{
	
	color: red;
	font-size: 16px;
	width: 50px;
	height: 50px;
	border: 1px solid red;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mtuHome .ai-recommendations-list .recruit-apply {
	display: flex;
	align-items: center;
	width: 94px;
	flex: 0 0 auto;
}

.mtuHome .ai-recommendations-list .recruit-apply-wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mtuHome .tab_content .tab_panel{
	display: none;
} 
.mtuHome .tab_content .tab_panel.active{
	display: block;
} 
/* ---------------------------------- */

/* aside  */
#right_wrap{
		width: 1200px;
		z-index: 2;
		position: relative;
		margin: 0 auto;
		padding: 0;
		
	}
	
	#right_wrap #right_postion{
	   position: absolute;
	   top: 50px;
	   right: -130px;
	   width: 120px;
	   z-index: 2;
	}
	
	#right_wrap #right_postion #side_area{
		line-height: 1.3;
         position: relative;
	}
	#right_postion #side_area #sideScrap,#right_postion #side_area #sideCookie{
		width: 140px;
	    border: 1px solid #e6eaf1;
	    border-top: 1px solid #3399ff;
	    margin-bottom: 20px;
	}
	.titTotal {
    display: block;
    }
     .titTotal .link {
    display: block;
    padding: 14px 10px 13px;
    background-color: #f5f7f9;
    font-size: 12px;
    letter-spacing: 0px;
}
.scrapList li:first-child {
    border-top: 1px solid #e6eaf1;
}
 .scrapList li .item {
    display: block;
    padding: 13px 10px 12px;
    background-color: #fff;
}
 .scrapList li .info {
    display: block;
    height: 15px;
    line-height: 14px;
}
.scrapList li .info .day.today {
    color: #fff;
    background-color: #ffa257;
    padding: 0 2px;
}
.scrapList li .info .day {
    font-size: 11px;
    letter-spacing: 0px;
    color: #666;
}
.scrapList li .co {
    font-weight: bold;
    margin-top: 4px;
}
.scrapList li .co, .scrapList li .tx {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    letter-spacing: 0px;
    color: #333;
    padding-bottom: 1px;
}