<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.injob.detail.mapper.DetailMapper">

<resultMap id="getPostComp" type="com.injob.detail.domain.PostCompVo">
    <result property="com_id"           column="COM_ID"   />
    <result property="po_id"            column="PO_ID"   />
    <result property="po_grade"         column="PO_GRADE"   />
    <result property="hope_department"  column="HOPE_DEPARTMENT" />
    <result property="po_start_date"    column="PO_START_DATE"   />
    <result property="po_end_date"      column="PO_END_DATE" />
    <result property="po_profile"       column="PO_PROFILE"    />
    <result property="po_title"         column="PO_TITLE"      />
    <result property="po_content"       column="PO_CONTENT"  />
    <result property="career"           column="CAREER"  />
    <result property="stack"            column="STACK"  />
    <result property="com_address"      column="COM_ADDRESS"  />
    <result property="com_name"         column="COM_NAME"  />
    <result property="com_logo"         column="COM_LOGO"  />
    <result property="com_birth"        column="COM_BIRTH"  />
    <result property="com_salary"       column="COM_SALARY"  />
    <result property="com_type"         column="COM_TYPE"  />
    
</resultMap>


	<select id="getDetailList" resultMap ="getPostComp">
		SELECT 
				P.COM_ID AS COM_ID 
			,	P.PO_ID AS PO_ID
			,	P.PO_GRADE AS PO_GRADE
			,	P.HOPE_DEPARTMENT AS HOPE_DEPARTMENT
			,	P.PO_START_DATE AS PO_START_DATE
			,	P.PO_END_DATE AS PO_END_DATE
			,	P.PO_PROFILE AS PO_PROFILE
			,	P.PO_TITLE AS PO_TITLE
			,	P.PO_CONTENT AS PO_CONTENT
			,	P.CAREER AS CAREER
			,	PS.STACK AS STACK
			,	C.COM_ADDRESS AS COM_ADDRESS
			, C.COM_NAME AS COM_NAME
			, C.COM_LOGO AS COM_LOGO
			, TO_CHAR(C.COM_BIRTH, 'YYYY') AS COM_BIRTH
			, C.COM_SALARY AS COM_SALARY
			, C.COM_TYPE AS COM_TYPE
			, C.COM_CEO AS COM_CEO

		FROM POSTING P
			JOIN POSTING_STACK PS   ON    PS.PO_ID = P.PO_ID
			JOIN COMPANY C          ON    P.COM_ID = C.COM_ID
	</select>
	
	<select id="getDetailList2" 
		resultType="com.injob.detail.domain.PostCompVo">
		SELECT 
				P.COM_ID 
			,	P.PO_ID
			,	P.PO_GRADE
			,	P.HOPE_DEPARTMENT
			, TO_CHAR(P.PO_START_DATE, 'YYYY-MM-dd') AS PO_START_DATE
   		, P.PO_END_DATE AS PO_END_DATE
			,	P.PO_PROFILE
			,	P.PO_TITLE
			,	P.PO_CONTENT
			,	P.CAREER
			,	PS.STACK
			,	C.COM_ADDRESS
			, C.COM_NAME
			, C.COM_LOGO
			, TO_CHAR(C.COM_BIRTH, 'YYYY') AS COM_BIRTH
			, C.COM_SALARY
			, C.COM_TYPE
			, C.SALES
			, C.EMPLOYEE
			, C.COM_CEO

		FROM POSTING P
			JOIN POSTING_STACK PS   ON    PS.PO_ID = P.PO_ID
			JOIN COMPANY C          ON    P.COM_ID = C.COM_ID
			
		WHERE P.PO_ID = #{po_id}
	</select>
	
	<select id="getDetailById" parameterType="string" 
			resultType="com.injob.detail.domain.PostCompVo">
    SELECT * FROM POSTING 
   	 WHERE PO_ID = #{po_id}
	</select>
	
	<select id="getAllPostings" resultType="com.injob.detail.domain.PostCompVo">
    SELECT 
        P.COM_ID 
      , P.PO_ID 
      , P.PO_GRADE 
      , P.HOPE_DEPARTMENT
      , P.PO_START_DATE
      , P.PO_END_DATE
      , P.PO_PROFILE 
      , P.PO_TITLE
      , P.PO_CONTENT 
      , P.CAREER 
      , PS.STACK 
      , C.COM_ADDRESS 
      , C.COM_NAME 
      , C.COM_LOGO 
      , C.COM_BIRTH 
      , C.COM_SALARY 
      , C.COM_TYPE
      , C.SALES
			, C.EMPLOYEE
			, C.COM_CEO
			
    FROM POSTING P
    JOIN POSTING_STACK PS ON PS.PO_ID = P.PO_ID
    JOIN COMPANY C ON P.COM_ID = C.COM_ID
</select>


<select id="getDetailList3" 
		resultType="com.injob.detail.domain.PostCompVo">
		SELECT 
				P.COM_ID 
			,	P.PO_ID
			,	P.HOPE_DEPARTMENT
			, P.PO_START_DATE AS PO_START_DATE
   		, P.PO_END_DATE AS PO_END_DATE
			,	P.PO_PROFILE
			,	P.PO_TITLE
			,	P.PO_CONTENT
			,	P.CAREER
			,	C.COM_ADDRESS
			, C.COM_NAME
			, C.COM_LOGO
			, TO_CHAR(C.COM_BIRTH, 'YYYY-MM-dd') AS COM_BIRTH
			, C.COM_SALARY
			, C.COM_TYPE
			, C.SALES
			, C.EMPLOYEE
			, C.COM_CEO
			, C.BGLOGO
			, C.STOCK
			, C.PAGE

		FROM COMPANY C
			JOIN POSTING P ON C.COM_ID = P.COM_ID
			
		WHERE C.COM_ID = #{com_id}
	</select>


</mapper>
