<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.injob.mypage.mapper.MypageMapper">


	<select id="selectResumeList">

		SELECT
		RE.USER_ID,
		RE.RE_ID,
		RE.RE_PROFILE,
		RE.RE_TITLE,
		RE.RE_INTTI,
		RE.RE_INTCON,
		RE.LICENSE,
		RE.INDATE,
		UR.USER_NAME,
		UR.USER_SOCIAL_NUM,
		UR.USER_PHONE,
		UR.USER_EMAIL

		FROM RESUME RE INNER JOIN USERS UR
		ON RE.USER_ID = UR.USER_ID

		WHERE UR.USER_ID = #{ userId }
		
		ORDER BY RE.RE_ID ASC

	</select>

	<select id="selectResumeList2">

		SELECT
		RE.USER_ID,
		RE.RE_ID,
		RE.RE_PROFILE,
		RE.RE_TITLE,
		RE.RE_INTTI,
		RE.RE_INTCON,
		RE.LICENSE,
		RE.INDATE,
		UR.USER_NAME,
		UR.USER_SOCIAL_NUM,
		UR.USER_PHONE,
		UR.USER_EMAIL

		FROM RESUME RE INNER JOIN USERS UR
		ON RE.USER_ID = UR.USER_ID

		WHERE RE.RE_ID = #{ re_id }

	</select>
	<select id="selectSchool">

		SELECT
			SCHOOL_NAME,
			SCHOOL_TYPE

		FROM SCHOOL

		WHERE RE_ID = #{ re_id }

	</select>
	<select id="selectSkill">

		SELECT
			STACK_NAME

		FROM RESUME_STACK

		WHERE RE_ID = #{ re_id }

	</select>

	<select id="selectResumeList3">

		SELECT
		USER_NAME,
		USER_SOCIAL_NUM,
		USER_PHONE,
		USER_EMAIL

		FROM USERS

		WHERE USER_ID = #{ userId }

	</select>
	
	<select id="selectResumeList4">
	
	SELECT
		RE.USER_ID,
		RE.RE_ID,
		RE.RE_PROFILE,
		RE.RE_TITLE,
		RE.RE_INTTI,
		RE.RE_INTCON,
		RE.LICENSE,
		RE.INDATE,
		UR.USER_NAME,
		UR.USER_SOCIAL_NUM,
		UR.USER_PHONE,
		UR.USER_EMAIL

		FROM APPLY AP
		JOIN RESUME RE ON AP.RE_ID = RE.RE_ID
		JOIN USERS UR  ON RE.USER_ID = UR.USER_ID

		WHERE AP.AP_ID = #{ ap_id }
	
	</select>
	
	<select id="selectHistory">

		SELECT
				RE.USER_ID,
				RE.RE_ID,
				AP.RESULT,
				AP.AP_ID,
				PO.PO_ID,
				PO.COM_ID,
				PO.PO_TITLE,
				COM.COM_NAME
				
		FROM RESUME RE
		  JOIN APPLY AP ON RE.RE_ID = AP.RE_ID
		  JOIN POSTING PO ON AP.PO_ID = PO.PO_ID
		  JOIN COMPANY COM ON PO.COM_ID = COM.COM_ID

		WHERE RE.USER_ID = #{ userId }

	</select>

	<select id="selectMaxRe">
	
	SELECT MAX(RE_ID)
	FROM   RESUME
	
	</select>

<!-- ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, -->

	<insert id="insertResume">

		INSERT INTO RESUME (
		USER_ID,
		RE_ID,
		RE_PROFILE,
		RE_TITLE,
		RE_INTTI,
		RE_INTCON,
		LICENSE
		)
		VALUES (
		#{ user_id },
		(SELECT NVL(MAX(RE_ID), 0) + 1 FROM RESUME),
		#{ re_profile },
		#{ re_title },
		#{ re_intti },
		#{ re_intcon },
		#{ license }
		)

	</insert>
	
	<insert id="insertSchool">

	INSERT INTO SCHOOL (
		SCHOOL_ID,
		RE_ID,
		SCHOOL_NAME,
		SCHOOL_TYPE
	)
	VALUES (
		(SELECT NVL(MAX(SCHOOL_ID), 0) + 1 FROM SCHOOL),
		(SELECT MAX(RE_ID) FROM RESUME),
		#{ school_name },
		#{ school_type }
	)

	</insert>
	
	
	
	
	<!--  -->
	
	<insert id="insertSkill">
		
		INSERT INTO RESUME_STACK (
			RE_ID,
			STACK_NAME,
			RE_STACK_ID
	)
	VALUES (
	(SELECT MAX(RE_ID) FROM RESUME),
	#{ stack_name },
	(SELECT NVL(MAX(RE_STACK_ID), 0) + 1 FROM RESUME_STACK)
	)
		
	</insert>
	
	<insert id="insertApply">
	
	INSERT INTO APPLY	(
						PO_ID,
						RE_ID,
						AP_ID
						)
				VALUES	(
						1101,
						#{ re_id },
						(SELECT NVL(MAX(AP_ID), 0) + 1 FROM APPLY)
						)
						
	
	</insert>

<!-- ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, -->

	<update id="updateResume">

		UPDATE
		RESUME
		SET
		USER_ID = #{ user_id },
		RE_ID = #{ re_id },
		RE_PROFILE = #{ re_profile },
		RE_TITLE = #{ re_title },
		RE_INTTI = #{ re_intti },
		RE_INTCON = #{ re_intcon },
		LICENSE = #{ license }
		WHERE USER_ID = #{ user_id }
		AND RE_ID = #{ re_id }

	</update>
	<update id="updateSchool">

		UPDATE
		SCHOOL
		SET
		SCHOOL_NAME = #{ school_name },
		SCHOOL_TYPE = #{ school_type }		
		WHERE RE_ID = #{ re_id }
		AND SCHOOL_ID = #{ school_id }

	</update>
	<update id="updateSkill">

		UPDATE
		RESUME_STACK
		SET
		STACK_NAME = #{ stack_name }	
		WHERE RE_ID = #{ re_id }
		AND RE_STACK_ID = #{ re_stack_id }

	</update>

<!-- ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, -->

	<delete id="deleteResume">

		DELETE FROM RESUME
		WHERE RE_ID = #{ re_id }

	</delete>
	<delete id="deleteSchool">

		DELETE FROM SCHOOL
		WHERE RE_ID = #{ re_id }

	</delete>
	<delete id="deleteSkill">

		DELETE FROM RESUME_STACK
		WHERE RE_ID = #{ re_id }

	</delete>
	<delete id="deleteApply">

		DELETE FROM APPLY
		WHERE RE_ID = #{ re_id }

	</delete>
	
	<select id ="getAiList">
		select
        p.po_id,
        p.po_title,
        p.po_content,
        p.po_grade,
        p.po_profile,
        p.career,
        p.po_end_date,
        c.com_name,
        c.com_type,
        c.com_address,
        c.com_id,
        ub.user_id,
        ub.ub_boolean
	    from
	        posting p
	    INNER JOIN company c ON p.com_id = c.com_id
	    LEFT JOIN user_bookmark ub ON p.po_id = ub.po_id AND ub.user_id = #{userId}
	</select>
	
	<select id="getPostingCookie" >
    SELECT
        p.po_id,
        p.po_title,
        p.po_content,
        p.po_grade,
        p.career,
        p.po_end_date,
        c.com_name,
        c.com_type,
        c.com_address,
        c.com_id,
        ub.user_id,
        ub.ub_boolean
    FROM
        posting p
    INNER JOIN company c ON p.com_id = c.com_id
    LEFT JOIN user_bookmark ub ON p.po_id = ub.po_id
    WHERE
        p.po_id IN
        <foreach item="poId" collection="list" open="(" separator="," close=")">
            #{poId}
        </foreach>
</select>

<select id ="getResume">
	 SELECT 
    u.user_name,
    r.re_id,
    r.re_profile,
    stack,
    school_names
FROM 
    users u

LEFT JOIN 
    resume r ON u.user_id = r.user_id
LEFT JOIN 
    (SELECT 
         rs.re_id,
         LISTAGG(rs.stack_name, ',') WITHIN GROUP (ORDER BY rs.stack_name) AS stack
     FROM 
         resume_stack rs
     GROUP BY 
         rs.re_id) rs_agg ON r.re_id = rs_agg.re_id
LEFT JOIN 
    (SELECT 
         s.re_id,
         LISTAGG(s.school_name, ',') WITHIN GROUP (ORDER BY s.school_name) AS school_names
     FROM 
         school s
     GROUP BY 
         s.re_id) s_agg ON r.re_id = s_agg.re_id
     WHERE u.user_id = #{userId}  
GROUP BY 
    u.user_name,
    r.re_id,
    r.re_profile,
    rs_agg.stack,
    s_agg.school_names


</select>
<select id="getPowerMapper">
   select
        p.po_id,
        p.po_title,
        p.po_content,
        p.po_grade,
        p.po_profile,
        p.career,
        p.po_end_date,
        c.com_name,
        c.com_type,
        c.com_address,
        c.com_salary,
        c.com_id,
        ub.user_id,
        ub.ub_boolean
	    from
	        posting p
	    INNER JOIN company c ON p.com_id = c.com_id
	    LEFT JOIN user_bookmark ub ON p.po_id = ub.po_id AND ub.user_id = #{userId}

</select>

<select id ="countBook">
	 SELECT 
	    COUNT(*) AS total_count
	FROM 
	    posting p
	INNER JOIN 
	    company c ON p.com_id = c.com_id
	INNER JOIN 
	    user_bookmark ub ON p.po_id = ub.po_id AND ub.user_id = #{userId}
	WHERE 
	    ub.ub_boolean = 1
</select>

</mapper>

















