<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.injob.posting.mapper.PostingMapper">

<resultMap id="getJoin" type="com.injob.posting.domain.JoinVo">
    <result property="com_id"        column="COM_ID"   />
    <result property="po_id"        column="PO_ID"   />
    <result property="po_grade"    column="PO_GRADE"   />
    <result property="hope_department"  column="HOPE_DEPARTMENT" />
    <result property="po_start_date"     column="PO_START_DATE"   />
    <result property="po_end_date"       column="PO_END_DATE" />
    <result property="po_profile"     column="PO_PROFILE"    />
    <result property="po_title"      column="PO_TITLE"      />
    <result property="po_content"   column="PO_CONTENT"  />
    <result property="career"   column="CAREER"  />
    <result property="stack"   column="STACK"  />
    <result property="com_address"   column="COM_ADDRESS"  />
    <result property="user_id"   column="USER_ID"  /> 
    <result property="ub_boolean"   column="UB_BOOLEAN"  /> 
</resultMap>


  <select id="getPostingList" resultMap ="getJoin" >
   SELECT 
    P.COM_ID AS COM_ID, 
    P.PO_ID AS PO_ID,
    P.PO_GRADE AS PO_GRADE,
    P.HOPE_DEPARTMENT AS HOPE_DEPARTMENT,
    P.PO_START_DATE AS PO_START_DATE,
    P.PO_END_DATE AS PO_END_DATE,
    P.PO_PROFILE AS PO_PROFILE,
    P.PO_TITLE AS PO_TITLE,
    P.PO_CONTENT AS PO_CONTENT,
    P.CAREER AS CAREER,
    LISTAGG(PS.STACK, ', ') WITHIN GROUP (ORDER BY PS.STACK) AS STACK,  -- 여러 STACK 값을 하나의 칼럼에 출력
    C.COM_ADDRESS AS COM_ADDRESS,
    UB.USER_ID AS USER_ID,
    UB.UB_BOOLEAN AS UB_BOOLEAN
FROM POSTING P
left JOIN POSTING_STACK PS ON PS.PO_ID = P.PO_ID
LEFT JOIN COMPANY C ON P.COM_ID = C.COM_ID
left JOIN user_bookmark ub ON p.po_id = ub.po_id AND ub.user_id = #{user_id}
GROUP BY 
    P.COM_ID, 
    P.PO_ID,
    P.PO_GRADE,
    P.HOPE_DEPARTMENT,
    P.PO_START_DATE,
    P.PO_END_DATE,
    P.PO_PROFILE,
    P.PO_TITLE,
    P.PO_CONTENT,
    P.CAREER,
    C.COM_ADDRESS,
    UB.USER_ID,
    UB.UB_BOOLEAN

  </select>
  
  <select id="getCount">
  SELECT COUNT(PO_ID) AS COUNT
    FROM POSTING
  </select>

</mapper>